
.hero {
    background-size: 400% 400%;
    animation: 15s ease infinite;
    min-height: 60vh;
    padding: 50px 0;
    width: 100%;
    background: linear-gradient(45deg,#F17C58, #E94584, #24AADB , #27DBB1, #74b9ff, #a29bfe);
    background-size: 600% 100%;
    animation: gradient 16s linear infinite;
    animation-direction: alternate;
}
@keyframes gradient {
    0% {background-position: 0%}
    100% {background-position: 100%}
}