
.fa-html5 {
    color: #e44d26;
}
.fa-css3-alt {
    color: #1b73ba;
}
.fa-js {
    color: #f7df1e;
}
.fa-php {
    color: #7997cf;
}

.fa-node {
    color: #82b173;
}

.fa-docker {
    color: #2496ed;
}

.fa-centos {
    color: #932279;
}

.fa-database {
    color: #feb000;
}

.fa-code-branch {
    color: #f05133;
}
.fa-aws {
    color: #f8981d;
}

@media screen and (max-width: 768px){
    .more i {
        font-size: 30px;
    }
    .more li {
        display: inline-block;
    }
    .more ul {
        width: 100%;
    }
}