/* GLOBAL */
html {
    scroll-behavior: smooth;
    height: 100%;
    position: relative;
}

body {
    font-family: 'Roboto', Arial, sans-serif;
    background-color: #f7f7f7;
    margin: 0;
    padding: 0;
    
}
section {
    margin: 0;
    padding: 0;
}
h1, h2, h3, h4 {
    font-family: 'Righteous', sans-serif !important;
    text-transform: uppercase;
    padding: 15px;
}
section {
    height: 100%;
}
section h2 {
    margin-bottom: 30px;
    border-bottom: 1px solid black;
    text-align: center;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }

/* NAVIGATION */
.navbar-brand {
    font-family: 'Righteous', sans-serif !important;
    padding-top: 10px;
}

/* HERO SECTION */
.hero-text {
    width: 80%;
    padding: 15px;
    margin: 90px auto;
    text-align: center;
}
.hero-text h1 {
    color: white;
    font-size: 2.2em;

    margin-bottom: 0;
}
.hero-text .lead {
    margin-top: 0;
    color: white;
    font-size: 22px;
}
.hero i {
    color: #ffffff;
    padding: 8px;
    border: 1px solid #ffffff;
    border-radius: 50%;
    transition: 0.5s;
    margin: 0 5px;
}
.hero i:hover {
    color: #2980b9;
    background-color: #ffffff;
    transition: 0.5s;
}
.hero img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    filter: grayscale(100%);
    transition: 0.5s;
}
.hero img:hover {
    transition: 0.5s;
    filter: grayscale(0);
}

/* PROJECTS/PORTFOLIO */
.projects {
    text-align: center;
}

.projects img {
    width: 80%;
    margin: 0 auto;
}
.projects .row {
    margin-bottom: 20px;
}

/* MORE ABOUT ME & SKILLS */
.skills {
    height: 60vh;
    padding: 20px;
}
.skills h3, p {
    text-align: center;
}

.skill-box {
    background-color: white;
    -moz-box-shadow-bottom: 0 4px 2px -2px rgba(0, 0, 0, 0.308);
    -webkit-box-shadow-bottom:  0 4px 2px -2px rgba(0, 0, 0, 0.308);
     box-shadow: 0 4px 2px -2px rgba(61, 61, 61, 0.308);
     padding: 15px;
     border-radius: 12px;
}
.col-md-4:first-child{
    border-right: 1px solid grey;
}
.col-md-4:last-child{
    border-left: 1px solid grey;
}

/* FOOTER */
footer {
    bottom: 0;
    color: #000;
    height: 2em;
    left: 0;
    position: relative; 
    font-size: small;
    width: 100%;
    height: 100%;
    padding: 20px 0;
    text-align: center;
}
ul {
    list-style: none;
}
li a {
    color: #000;
}
li a:hover {
    color: #ccc;
}
li a:focus {
    color: #f7f7f7;
}

.flex-wrapper {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: space-between
  }

  @media screen and (max-width: 768px){
    .hero h1 {
        font-size: 2em;
    }
    .hero .lead {
        font-size: 14px;
    }
    .hero img {
        width: 50%;
        height: auto;
    }
}