body {
    font-family: 'Roboto', Arial, sans-serif;
    background-color: #f7f7f7;
    margin: 0;
    padding: 0;
}
section {
    margin: 0;
    padding: 0;
}
h1, h2, h3, h4 {
    font-family: 'Righteous', sans-serif !important;
    text-transform: uppercase;
    padding: 15px;
}

.hero-text {
    width: 50%;
    padding: 15px;
    margin: 90px auto;
    text-align: center;
}
.hero-text h1 {
    color: white;
    font-size: 3em;

    margin-bottom: 0;
}
.hero-text .lead {
    margin-top: 0;
    color: white;
    font-size: 26px;
}
.hero i {
    color: #ffffff;
    padding: 8px;
    border: 1px solid #ffffff;
    border-radius: 50%;
    transition: 0.5s;
    margin: 0 5px;
}
.hero i:hover {
    color: #2980b9;
    background-color: #ffffff;
    transition: 0.5s;
}

.hero img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    filter: grayscale(100%);
    transition: 0.5s;
}

.hero img:hover {
    transition: 0.5s;
    filter: grayscale(0);
}
.navbar-brand {
    font-family: 'Righteous', sans-serif !important;
}

.projects {
    padding-top: 50px;
    text-align: center;
}
.card {
    text-align: center;
}
.card img {
    height: 200px;
    width: 250px;
}


section h2 {
    margin-bottom: 30px;
    border-bottom: 1px solid black;
    text-align: center;
}

#who-am-i {
    margin: 0 auto;
}

#my-picture {
    height: 150px;
    width: auto;
    border-radius: 14px;
    margin-bottom: 20px;
}

.more ul {
    list-style: none;
    
}