body {
    font-family: 'Roboto', Arial, sans-serif;
    background-color: #f7f7f7;
    margin: 0;
    padding: 0;
}
section {
    margin: 0;
    padding: 0;
}
h1, h2, h3 {
    font-family: 'Righteous', sans-serif !important;
    text-transform: uppercase;
}
.hero {
    background: url(../img/hero.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 100vw;
    width: 100%;
    height: 70vh;
    transition: filter .5s ease-in-out;
    -webkit-filter: grayscale(0%); /* Ch 23+, Saf 6.0+, BB 10.0+ */
    filter: grayscale(0%); /* FF 35+ */
}
.hero:hover {
    transition: filter .5s ease-in-out;
    -webkit-filter: grayscale(0%); /* Ch 23+, Saf 6.0+, BB 10.0+ */
    filter: grayscale(100%); /* FF 35+ */
}

.hero-text {
    width: 50%;
    padding: 15px;
    position: fixed;
     top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0 auto;
    text-align: center;
    box-shadow: 5px 5px 5px rgb(0,0,0,0.8);
    background-color: rgb(0,0,0,0.8);
}
.hero-text h1 {
    color: white;
    font-size: 3em;
    text-transform: uppercase;
    margin-bottom: 0;
}
.hero-text .lead {
    margin-top: 0;
    color: white;
    font-size: 22px;
}
.navbar-brand {
    font-family: 'Righteous', sans-serif !important;
}

.projects {
    padding-top: 50px;
    text-align: center;
}